# Project Documents
cs184a_project_proposal.pdf
cs184a_project_presentation.mp4
cs184a_project_report.pdf
# Downloaded Datasets and Models
/data
/models
# Editor files
.vscode
notebooks/.ipynb_checkpoints
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
# Library and key files
kaggle.json
